* {
  background-color:blanchedalmond;
  font-family:Georgia, 'Times New Roman', Times, serif
}
  
  body {
    margin: 0;
    padding: 0;
    color:black;
    line-height: 1.5;
    font-size: 16px;
  }
  
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
    color:black;
        line-height: 1.25;
  }
  
  main {
    margin: 20px auto;
    width: 94%;
  }
  
  p {
    font-size: 1rem;
    margin: 5px 5px;
  }
  .day p {
    font-size: .9rem;
  }
  
   .btn {
    font-size: 1.3rem;
    padding: 6px 5px;
    width: 100%;
    display: block;
    margin: 5px 0;
  }

  
  .btn-inline {
    display: inline;
  }
  
  .hero {
    padding: 3% 4%;
  }
  
  .hero p {
    max-width: 75%;
  }
  
  .list-group {
    padding: 0;
    list-style: none;
  }
  
  .list-item {
    margin-bottom: 10px;
    padding: 1.5%;
  }
  
  #weather-status img{
    margin: -35px 0;
  }
  
  .card {
    margin: 0 0 20px 0;
  }
  
  .card-header {
    padding: 2.5%;
  }
  .card-header i {
    float: right;
  }
  
  .card-body {
    padding: 2.5%;
  }
  .hidden {
    visibility: hidden;
  }
  .day {
    background-color: black;
    margin-bottom: 10px;
    font-size: 16px;
  }
  
  .form-label,
  .form-input,
  .form-textarea {
    display: block;
  }
  
  .form-label {
    font-size: 1.1rem;
    margin: 0 0 0 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 3%;
    margin: 5px 0;
    font-size: 1.2rem;
    border-radius: var(--border-radius);
  }
  
  .min-100-vh {
    min-height: 100vh;
  }
  
  .min-100-vw {
    min-width: 100vw;
  }
  
  .text-uppercase {
    text-transform: uppercase;
  }
  
  .flex-row {
    display: flex;
    flex-wrap: wrap;
  }
  
  .flex-column {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .justify-space-between {
    justify-content: space-between;
  }
  
  .justify-space-around {
    justify-content: space-around;
  }
  
  .justify-flex-start {
    justify-content: flex-start
  }
  
  .justify-flex-end {
    justify-content: flex-end;
  }
  
  .justify-center {
    justify-content: center;
  }
  
  .align-stretch {
    align-items: stretch;
  }
  
  .align-end {
    align-items: flex-end;
  }
  
  .align-center {
    align-items: center;
  }
  
  .col-auto {
    flex-grow: 1;
  }
